<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="public/img/favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="public/css/tiny-slider.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">
    <title>Login </title>
</head>

<body>

<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="/">Nutri<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li><a class="nav-link" href="/shop">Shop</a></li>
                <li><a class="nav-link" href="/contact">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" href="/login"><img src="public/img/user.svg"></a></li>
                <li><a class="nav-link" href="/cart"><img src="public/img/cart.svg"></a></li>
                <li><a class="nav-link" href="/recognizeFood"><img src="public/img/search.svg"></a></li>


            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero">
    <div class="container2">
        <div class="form">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <!-- Start Login Section -->

                    <h1>Login</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
            <div class="input-container ic2">
                <input id="email" class="input" type="text" placeholder="email " />
                <div class="cut cut-short"></div>

            </div>

            <div class="input-container ic1">
                <input id="firstname" class="input" type="password" placeholder="password " />
                <div class="cut"></div>

            </div>

            <p>
                <a href="/">
                    <button type="text" class="submit">submit</button>
                </a>
            </p>
            <br>
            <a href="/signup">
                <button type="text" class="makeaccount">Click here if you don't have an account</button>
            </a>


            <!-- End Login Section -->
        </div>
    </div>
</div>
</div>
<!-- End Hero Section -->



<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
</body>

</html>
